:root {
    --primary-blue: #0078A8;
    --secondary-blue: #00C6D7;
    --white: #FFFFFF;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --text-dark: #333333;
}

body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(90deg, var(--primary-blue), var(--secondary-blue));
    min-height: 100vh;
    display: flex;
    margin: 0;
}

.sidebar {
    width: 250px;
    background: var(--white);
    box-shadow: 2px 0 10px var(--shadow-color);
    padding: 2rem;
    position: fixed;
    height: 100vh;
    padding: 40px 20px;
    left: 0;
    top: 0;
    z-index: 1000;
}

.sidebar-logo h2 {
    color: var(--primary-blue);
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
}

.sidebar-menu li {
    margin-bottom: 1rem;
}

.sidebar-menu a {
    text-decoration: none;
    color: var(--primary-blue);
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0.8rem 1rem;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.sidebar-menu a:hover {
    background-color: var(--primary-blue);
    color: var(--white);
}

.main-content {
    flex-grow: 1;
    padding: 40px;
    color: var(--text-dark);
    margin-left: 300px;
    min-height: 100vh;

}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.dashboard-header h1 {
    font-size: 2rem;
    font-weight: 700;
}

.btn-logout {
    background: linear-gradient(90deg, #E74C3C, #C0392B);
    /* Warna merah gradasi */
    color: var(--white);
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 50px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn-logout:hover {
    box-shadow: 0 10px 20px rgba(231, 76, 60, 0.3);
}